ul.hscroll-grid{
    width:400px;
    height: 100px;

    display:grid;
    grid-template-columns: repeat(var(--total), 100px) 10px;
    grid-column-gap: 10px;

    overflow-x:scroll;
    overflow-y:hidden;
}   

li{
    width: 100px;
    height: 100px;
    background-color: antiquewhite;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}